/* Container principal */
.search-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* Titlu */
.search-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

/* Formular */
.search-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

/* Grup de inputuri */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 200px;
}

/* Inputuri și Selecturi */
.search-input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    outline: none;
    transition: border 0.3s;
}

.search-input:focus {
    border-color: #007BFF;
}

/* Etichete */
.input-label {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}
